body {
  background-color: #f5f5f5; }

.header .navbar {
  background-color: #007cc0; }
  .header .navbar .navbar-brand img {
    width: 67px; }
  .header .navbar .nav-item {
    border-right: 1px solid #f2f8fc;
    padding: 10px 10px; }
    .header .navbar .nav-item .nav-link {
      color: #f2f8fc;
      font-size: 15px;
      font-weight: 600; }

.slider .carousel-inner .carousel-item {
  position: relative; }
.slider .carousel-control-prev .carousel-control-prev-icon {
  position: absolute;
  left: 0;
  background-color: #f2f8fc;
  padding: 35px 12px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007cc0' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }
.slider .carousel-control-next .carousel-control-next-icon {
  position: absolute;
  right: 0;
  background-color: #f2f8fc;
  padding: 35px 12px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007cc0' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }
.slider .slider_blue {
  background-color: #00324f;
  height: 300px;
  justify-content: space-around; }
  .slider .slider_blue .slider_learnmore_left {
    position: relative; }
    .slider .slider_blue .slider_learnmore_left img {
      height: 400px;
      padding-left: 20px; }
    .slider .slider_blue .slider_learnmore_left .content {
      position: absolute;
      left: 50%;
      bottom: -20%;
      text-align: center;
      transform: translate(-50%, 40%); }
      .slider .slider_blue .slider_learnmore_left .content p {
        color: #06456a;
        font-size: 24px;
        font-weight: bold; }
      .slider .slider_blue .slider_learnmore_left .content span {
        color: #06456a;
        font-size: 15px;
        font-weight: normal; }
      .slider .slider_blue .slider_learnmore_left .content button {
        background-color: #2198dc;
        border-radius: 30px;
        border: 2px solid #2198dc;
        color: #f2f8fc;
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        transition: all 0.5s; }
        .slider .slider_blue .slider_learnmore_left .content button:hover {
          background-color: transparent; }
  .slider .slider_blue .slider_learnmore_right {
    position: relative; }
    .slider .slider_blue .slider_learnmore_right img {
      height: 400px;
      padding-right: 20px; }
    .slider .slider_blue .slider_learnmore_right .content {
      position: absolute;
      top: 60%;
      left: 5%; }
      .slider .slider_blue .slider_learnmore_right .content span {
        color: #f2f8fc;
        font-size: 20px;
        font-weight: bold;
        background-color: #0070b0;
        text-align: center;
        padding: 10px 15px;
        margin-bottom: 10px;
        display: inline-block; }
      .slider .slider_blue .slider_learnmore_right .content h3 {
        color: #f2f8fc;
        font-size: 24px;
        font-weight: bold; }
      .slider .slider_blue .slider_learnmore_right .content button {
        background-color: transparent;
        border: 2px solid #f2f8fc;
        border-radius: 30px;
        color: #f2f8fc;
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        transition: all 0.5s; }
        .slider .slider_blue .slider_learnmore_right .content button:hover {
          background-color: #f2f8fc;
          color: #2198dc;
          font-size: 20px;
          font-weight: bold; }

.introduce h2 {
  margin-top: 180px;
  text-align: center;
  color: #06456a;
  font-size: 60px;
  font-weight: lighter; }
.introduce .introduce_menu ul li a {
  color: #00324f;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 0; }
  .introduce .introduce_menu ul li a:hover {
    color: #2198dc; }
  .introduce .introduce_menu ul li a:active {
    color: #007cc0;
    border-bottom: 5px solid #007cc0; }
.introduce .introduce_carousel {
  margin-top: 10px; }
  .introduce .introduce_carousel .carousel-inner .carousel-item {
    position: relative; }
  .introduce .introduce_carousel .carousel-control-prev .carousel-control-prev-icon {
    position: absolute;
    left: 0;
    background-color: #f2f8fc;
    padding: 35px 12px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007cc0' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }
  .introduce .introduce_carousel .carousel-control-next .carousel-control-next-icon {
    position: absolute;
    right: 0;
    background-color: #f2f8fc;
    padding: 35px 12px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007cc0' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }
  .introduce .introduce_carousel .carousel-item {
    position: relative; }
    .introduce .introduce_carousel .carousel-item .carousel-item_content {
      position: absolute;
      z-index: 999;
      left: 5%;
      top: 10%; }
      .introduce .introduce_carousel .carousel-item .carousel-item_content p {
        color: #f2f8fc;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 70px; }
      .introduce .introduce_carousel .carousel-item .carousel-item_content svg {
        width: 100%;
        display: block;
        margin-bottom: 25px; }
      .introduce .introduce_carousel .carousel-item .carousel-item_content span {
        color: #f2f8fc;
        font-size: 15px;
        font-weight: normal; }
      .introduce .introduce_carousel .carousel-item .carousel-item_content .stat {
        margin-top: 25px; }
        .introduce .introduce_carousel .carousel-item .carousel-item_content .stat .stat_left_money, .introduce .introduce_carousel .carousel-item .carousel-item_content .stat .stat_right_rating {
          color: #f2f8fc;
          font-size: 40px;
          font-weight: lighter; }
        .introduce .introduce_carousel .carousel-item .carousel-item_content .stat .stat_left_label, .introduce .introduce_carousel .carousel-item .carousel-item_content .stat .stat_right_label {
          color: #f2f8fc;
          font-size: 13px;
          font-weight: bold; }
      .introduce .introduce_carousel .carousel-item .carousel-item_content .btn-explore {
        margin-top: 25px;
        color: #f2f8fc;
        font-size: 20px;
        font-weight: 700;
        border-radius: 30px;
        border: 2px solid #f2f8fc;
        background-color: #e42525;
        padding: 2px 20px;
        transition: all 0.5s; }
        .introduce .introduce_carousel .carousel-item .carousel-item_content .btn-explore:hover {
          background-color: #f2f8fc;
          color: #e42525; }
      .introduce .introduce_carousel .carousel-item .carousel-item_content .btn-build {
        margin-top: 25px;
        color: #e42525;
        font-size: 20px;
        font-weight: 700;
        background-color: #f2f8fc;
        border: 2px solid #e42525;
        border-radius: 30px;
        padding: 2px 33px;
        transition: all 0.5s; }
        .introduce .introduce_carousel .carousel-item .carousel-item_content .btn-build:hover {
          color: #f2f8fc;
          background-color: #e42525; }

.tool {
  margin-top: 50px; }
  .tool .tool_content {
    justify-content: space-around; }
    .tool .tool_content .tool-item {
      background-color: #fff; }
      .tool .tool_content .tool-item img {
        width: 100px;
        height: 100px;
        margin-bottom: 25px; }
      .tool .tool_content .tool-item p {
        color: #007cc0;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 2px; }
      .tool .tool_content .tool-item span {
        display: block;
        color: #007cc0;
        font-size: 16px;
        font-weight: lighter;
        margin-bottom: 35px;
        padding-left: 20px;
        padding-right: 20px; }
      .tool .tool_content .tool-item button {
        color: #f2f8fc;
        font-size: 18px;
        font-weight: bold;
        background-color: #007cc0;
        border: 2px solid #007cc0;
        border-radius: 30px;
        padding: 5px 40px;
        margin-bottom: 25px; }
        .tool .tool_content .tool-item button:hover {
          background-color: transparent;
          color: #007cc0; }

.guide {
  margin-top: 50px; }
  .guide img {
    width: 100%;
    height: 100%; }
  .guide .guide_left {
    position: relative;
    margin-right: 25px; }
    .guide .guide_left button {
      position: absolute;
      left: 50%;
      top: 80%;
      transform: translateX(-50%);
      background-color: #2198dc;
      color: #f2f8fc;
      font-size: 18px;
      font-weight: bold;
      border: 2px solid #2198dc;
      border-radius: 30px;
      transition: all 0.5s; }
    .guide .guide_left:hover button {
      background-color: transparent;
      color: #2198dc; }
  .guide .guide_right {
    position: relative;
    margin-left: 25px; }
    .guide .guide_right img {
      width: 833px; }
    .guide .guide_right div {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 45%; }
      .guide .guide_right div p {
        color: #f2f8fc;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 2px; }
      .guide .guide_right div span {
        display: block;
        width: 100%;
        color: #f2f8fc;
        font-size: 15px;
        font-weight: normal; }
      .guide .guide_right div button {
        margin-top: 45px;
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translateX(-50%);
        background-color: #2198dc;
        color: #f2f8fc;
        font-size: 18px;
        font-weight: bold;
        border: 2px solid #2198dc;
        border-radius: 30px;
        transition: all 0.5s; }
    .guide .guide_right:hover button {
      background-color: transparent;
      color: #2198dc; }

.discover h2 {
  margin-top: 35px;
  text-align: center;
  color: #06456a;
  font-size: 60px;
  font-weight: lighter; }
.discover p {
  text-align: center;
  color: #06456a;
  font-size: 16px;
  font-weight: lighter; }
.discover .card-group {
  width: 90%;
  margin: auto; }
  .discover .card-group .card {
    text-align: center;
    position: relative; }
    .discover .card-group .card .card-body {
      position: absolute;
      top: 50%; }
      .discover .card-group .card .card-body .card-title {
        margin-top: 25px;
        color: #06456a;
        font-size: 24px;
        font-weight: bold; }
      .discover .card-group .card .card-body .card-text {
        margin-bottom: 0;
        color: #06456a;
        font-size: 15px;
        font-weight: lighter; }
      .discover .card-group .card .card-body button {
        color: #2198dc;
        font-size: 20px;
        font-weight: bold; }
        .discover .card-group .card .card-body button:hover {
          color: #06456a; }
    .discover .card-group .card .last {
      position: absolute;
      top: 50%;
      transform: translateY(-50%); }
  .discover .card-group .card-last .fa-twitter {
    color: #2198dc;
    font-size: 33px;
    font-weight: normal; }
  .discover .card-group .card-last img {
    width: 8%;
    height: 8%;
    border-radius: 15%; }
  .discover .card-group .card-last .title_content h4 {
    color: #2198dc;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 2px; }
    .discover .card-group .card-last .title_content h4 a {
      text-decoration: none; }
  .discover .card-group .card-last .title_content p {
    color: #2198dc;
    font-size: 15px;
    font-weight: lighter; }
    .discover .card-group .card-last .title_content p a {
      text-decoration: none; }
  .discover .card-group .card-last .main_content {
    color: black;
    font-size: 20px;
    font-weight: normal; }
    .discover .card-group .card-last .main_content a {
      text-decoration: none; }
  .discover .card-group .card-last .text-muted a {
    text-decoration: none; }
  .discover .card-group .card-last .social {
    color: #2198dc; }
    .discover .card-group .card-last .social a {
      text-decoration: none; }
.discover .btn_more {
  text-align: center;
  margin-top: 35px; }
  .discover .btn_more button {
    color: #f2f8fc;
    font-size: 17px;
    font-weight: bold;
    background-color: #e42525;
    border-radius: 30px;
    border: 2px solid #e42525;
    transition: all 0.5s; }
    .discover .btn_more button:hover {
      color: #e42525;
      background-color: transparent; }

.footer {
  margin-top: 50px; }
  .footer .footer_search form {
    display: flex; }
    .footer .footer_search form .input-group .input-group-prepend .input-group-text {
      background-color: #fff;
      border: none; }
      .footer .footer_search form .input-group .input-group-prepend .input-group-text i {
        padding-left: 20px;
        font-size: 20px; }
    .footer .footer_search form .input-group input {
      height: 100%;
      border: none; }
      .footer .footer_search form .input-group input::placeholder {
        font-size: 20px; }
    .footer .footer_search form .input-group .input-group-append .input-group-text {
      background-color: #fff;
      border-left: none;
      border-top: none;
      border-bottom: none; }
      .footer .footer_search form .input-group .input-group-append .input-group-text button {
        color: #007cc0;
        font-size: 13px;
        font-weight: bold;
        border: 2px solid #007cc0;
        border-radius: 30px; }
        .footer .footer_search form .input-group .input-group-append .input-group-text button:hover {
          background-color: #007cc0;
          color: #fff; }
    .footer .footer_search form .btn_backToTop .input-group-text {
      background-color: #fff;
      border: none; }
  .footer .footer_menu {
    width: 90%;
    margin-bottom: 35px; }
    .footer .footer_menu h4 {
      margin-bottom: 25px;
      color: #06456a;
      font-size: 20px;
      font-weight: bold; }
    .footer .footer_menu p {
      color: #06456a;
      font-size: 15px;
      font-weight: normal; }
    .footer .footer_menu .discover p {
      text-align: left; }
  .footer .footer_contact {
    border-top: 2px solid #c4c4c4; }
    .footer .footer_contact .footer_contact_content {
      width: 90%;
      margin: auto; }
      .footer .footer_contact .footer_contact_content .social {
        margin: 35px 0; }
        .footer .footer_contact .footer_contact_content .social p {
          color: #06456a;
          font-size: 20px;
          font-weight: bold; }
        .footer .footer_contact .footer_contact_content .social i {
          margin-right: 10px;
          border: 1px solid transparent;
          background-color: #2198dc;
          border-radius: 1999px;
          color: #f2f8fc;
          padding: 5px 5px; }
      .footer .footer_contact .footer_contact_content .news p {
        color: #00324f;
        font-size: 14px;
        font-weight: normal; }
      .footer .footer_contact .footer_contact_content .news .btn_inform {
        text-align: right; }
        .footer .footer_contact .footer_contact_content .news .btn_inform button {
          color: #0070b0;
          font-size: 14px;
          font-weight: 700;
          border: 2px solid #0070b0;
          background-color: transparent;
          border-radius: 30px; }
          .footer .footer_contact .footer_contact_content .news .btn_inform button i {
            color: #2198dc;
            font-size: 13px;
            font-weight: normal; }
          .footer .footer_contact .footer_contact_content .news .btn_inform button:hover {
            background-color: #0070b0;
            color: #f2f8fc; }
            .footer .footer_contact .footer_contact_content .news .btn_inform button:hover i {
              color: #f2f8fc; }
  .footer .footer_copyright {
    background-color: #007cc0; }
    .footer .footer_copyright .footer_copyright_content {
      width: 90%;
      margin: auto;
      padding-top: 45px; }
      .footer .footer_copyright .footer_copyright_content .left p {
        color: #f2f8fc;
        font-size: 15px;
        font-weight: normal; }
        .footer .footer_copyright .footer_copyright_content .left p a {
          text-decoration: underline;
          color: #f2f8fc; }
      .footer .footer_copyright .footer_copyright_content .right p {
        margin-bottom: 2px; }
        .footer .footer_copyright .footer_copyright_content .right p a {
          text-decoration: underline;
          color: #f2f8fc;
          margin-right: 25px;
          padding-right: 25px;
          border-right: 1px solid #f2f8fc; }
      .footer .footer_copyright .footer_copyright_content .right .bottom {
        margin-left: 77px; }
    .footer .footer_copyright .footer_logo {
      width: 90%;
      margin: auto;
      text-align: center;
      margin-top: 25px;
      padding-bottom: 20px; }
      .footer .footer_copyright .footer_logo a svg {
        width: 60%;
        fill: #fff; }

/*# sourceMappingURL=style.css.map */
