body {
  background-color: #f5f5f5; }

.header .navbar {
  background-color: #007cc0; }
  .header .navbar .navbar-brand img {
    width: 67px; }
  .header .navbar .nav-item {
    border-right: 1px solid #f2f8fc;
    padding: 10px 10px; }
    .header .navbar .nav-item .nav-link {
      color: #f2f8fc;
      font-size: 15px;
      font-weight: 600; }

.slider .carousel-inner .carousel-item {
  position: relative; }
.slider .carousel-control-prev .carousel-control-prev-icon {
  position: absolute;
  left: 0;
  background-color: #f2f8fc;
  padding: 35px 12px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007cc0' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }
.slider .carousel-control-next .carousel-control-next-icon {
  position: absolute;
  right: 0;
  background-color: #f2f8fc;
  padding: 35px 12px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007cc0' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }
.slider .slider_blue {
  background-color: #00324f;
  height: 300px;
  justify-content: space-around; }
  .slider .slider_blue .slider_learnmore_left {
    position: relative; }
    .slider .slider_blue .slider_learnmore_left img {
      height: 400px;
      padding-left: 20px; }
    .slider .slider_blue .slider_learnmore_left .content {
      position: absolute;
      left: 50%;
      bottom: -20%;
      text-align: center;
      transform: translate(-50%, 40%); }
      .slider .slider_blue .slider_learnmore_left .content p {
        color: #06456a;
        font-size: 24px;
        font-weight: bold; }
      .slider .slider_blue .slider_learnmore_left .content span {
        color: #06456a;
        font-size: 15px;
        font-weight: normal; }
      .slider .slider_blue .slider_learnmore_left .content button {
        background-color: #2198dc;
        border-radius: 30px;
        border: 2px solid #2198dc;
        color: #f2f8fc;
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        transition: all 0.5s; }
        .slider .slider_blue .slider_learnmore_left .content button:hover {
          background-color: transparent; }
  .slider .slider_blue .slider_learnmore_right {
    position: relative; }
    .slider .slider_blue .slider_learnmore_right img {
      height: 400px;
      padding-right: 20px; }
    .slider .slider_blue .slider_learnmore_right .content {
      position: absolute;
      top: 60%;
      left: 5%; }
      .slider .slider_blue .slider_learnmore_right .content span {
        color: #f2f8fc;
        font-size: 20px;
        font-weight: bold;
        background-color: #0070b0;
        text-align: center;
        padding: 10px 15px;
        margin-bottom: 10px;
        display: inline-block; }
      .slider .slider_blue .slider_learnmore_right .content h3 {
        color: #f2f8fc;
        font-size: 24px;
        font-weight: bold; }
      .slider .slider_blue .slider_learnmore_right .content button {
        background-color: transparent;
        border: 2px solid #f2f8fc;
        border-radius: 30px;
        color: #f2f8fc;
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        transition: all 0.5s; }
        .slider .slider_blue .slider_learnmore_right .content button:hover {
          background-color: #f2f8fc;
          color: #2198dc;
          font-size: 20px;
          font-weight: bold; }

.introduce h2 {
  margin-top: 180px;
  text-align: center;
  color: #06456a;
  font-size: 60px;
  font-weight: lighter; }
.introduce .introduce_menu ul li a {
  color: #00324f;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 0; }
  .introduce .introduce_menu ul li a:hover {
    color: #2198dc; }
  .introduce .introduce_menu ul li a:active {
    color: #007cc0;
    border-bottom: 5px solid #007cc0; }
.introduce .introduce_carousel {
  margin-top: 10px; }
  .introduce .introduce_carousel .carousel-inner .carousel-item {
    position: relative; }
  .introduce .introduce_carousel .carousel-control-prev .carousel-control-prev-icon {
    position: absolute;
    left: 0;
    background-color: #f2f8fc;
    padding: 35px 12px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007cc0' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"); }
  .introduce .introduce_carousel .carousel-control-next .carousel-control-next-icon {
    position: absolute;
    right: 0;
    background-color: #f2f8fc;
    padding: 35px 12px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007cc0' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"); }
  .introduce .introduce_carousel .carousel-item {
    position: relative; }
    .introduce .introduce_carousel .carousel-item .carousel-item_content {
      position: absolute;
      z-index: 999;
      left: 5%;
      top: 10%; }
      .introduce .introduce_carousel .carousel-item .carousel-item_content p {
        color: #f2f8fc;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 70px; }
      .introduce .introduce_carousel .carousel-item .carousel-item_content svg {
        width: 100%;
        display: block;
        margin-bottom: 25px; }
      .introduce .introduce_carousel .carousel-item .carousel-item_content span {
        color: #f2f8fc;
        font-size: 15px;
        font-weight: normal; }
      .introduce .introduce_carousel .carousel-item .carousel-item_content .stat {
        margin-top: 25px; }
        .introduce .introduce_carousel .carousel-item .carousel-item_content .stat .stat_left_money, .introduce .introduce_carousel .carousel-item .carousel-item_content .stat .stat_right_rating {
          color: #f2f8fc;
          font-size: 40px;
          font-weight: lighter; }
        .introduce .introduce_carousel .carousel-item .carousel-item_content .stat .stat_left_label, .introduce .introduce_carousel .carousel-item .carousel-item_content .stat .stat_right_label {
          color: #f2f8fc;
          font-size: 13px;
          font-weight: bold; }
      .introduce .introduce_carousel .carousel-item .carousel-item_content .btn-explore {
        margin-top: 25px;
        color: #f2f8fc;
        font-size: 20px;
        font-weight: 700;
        border-radius: 30px;
        border: 2px solid #f2f8fc;
        background-color: #e42525;
        padding: 2px 20px;
        transition: all 0.5s; }
        .introduce .introduce_carousel .carousel-item .carousel-item_content .btn-explore:hover {
          background-color: #f2f8fc;
          color: #e42525; }
      .introduce .introduce_carousel .carousel-item .carousel-item_content .btn-build {
        margin-top: 25px;
        color: #e42525;
        font-size: 20px;
        font-weight: 700;
        background-color: #f2f8fc;
        border: 2px solid #e42525;
        border-radius: 30px;
        padding: 2px 33px;
        transition: all 0.5s; }
        .introduce .introduce_carousel .carousel-item .carousel-item_content .btn-build:hover {
          color: #f2f8fc;
          background-color: #e42525; }

.tool {
  margin-top: 50px; }
  .tool .tool_content {
    justify-content: space-around; }
    .tool .tool_content .tool-item {
      background-color: #fff; }
      .tool .tool_content .tool-item img {
        width: 100px;
        height: 100px;
        margin-bottom: 25px; }
      .tool .tool_content .tool-item p {
        color: #007cc0;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 2px; }
      .tool .tool_content .tool-item span {
        display: block;
        color: #007cc0;
        font-size: 16px;
        font-weight: lighter;
        margin-bottom: 35px;
        padding-left: 20px;
        padding-right: 20px; }
      .tool .tool_content .tool-item button {
        color: #f2f8fc;
        font-size: 18px;
        font-weight: bold;
        background-color: #007cc0;
        border: 2px solid #007cc0;
        border-radius: 30px;
        padding: 5px 40px;
        margin-bottom: 25px; }
        .tool .tool_content .tool-item button:hover {
          background-color: transparent;
          color: #007cc0; }

.guide {
  margin-top: 50px; }
  .guide img {
    width: 100%;
    height: 100%; }
  .guide .guide_left {
    position: relative;
    margin-right: 25px; }
    .guide .guide_left button {
      position: absolute;
      left: 50%;
      top: 80%;
      transform: translateX(-50%);
      background-color: #2198dc;
      color: #f2f8fc;
      font-size: 18px;
      font-weight: bold;
      border: 2px solid #2198dc;
      border-radius: 30px;
      transition: all 0.5s; }
    .guide .guide_left:hover button {
      background-color: transparent;
      color: #2198dc; }
  .guide .guide_right {
    position: relative;
    margin-left: 25px; }
    .guide .guide_right img {
      width: 833px; }
    .guide .guide_right div {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 45%; }
      .guide .guide_right div p {
        color: #f2f8fc;
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 2px; }
      .guide .guide_right div span {
        display: block;
        width: 100%;
        color: #f2f8fc;
        font-size: 15px;
        font-weight: normal; }
      .guide .guide_right div button {
        margin-top: 45px;
        position: absolute;
        left: 50%;
        top: 80%;
        transform: translateX(-50%);
        background-color: #2198dc;
        color: #f2f8fc;
        font-size: 18px;
        font-weight: bold;
        border: 2px solid #2198dc;
        border-radius: 30px;
        transition: all 0.5s; }
    .guide .guide_right:hover button {
      background-color: transparent;
      color: #2198dc; }

.discover h2 {
  margin-top: 35px;
  text-align: center;
  color: #06456a;
  font-size: 60px;
  font-weight: lighter; }
.discover p {
  text-align: center;
  color: #06456a;
  font-size: 16px;
  font-weight: lighter; }

/*# sourceMappingURL=style.css.map */
