.introduce {
    h2 {
        margin-top: $mg-5;
        text-align: center;
        @include text($color-blue-4, $fs-5, $fw-light);
    }
    .introduce_menu {
        ul {
            li {
                a {
                    @include text($color-blue-5, $fs-1 + 5, $fw-bold);
                    padding-bottom: 0;
                    &:hover {
                        color: $color-blue-3;
                    }
                    &:active {
                        color: $color-blue-1;
                        border-bottom: 5px solid $color-blue-1;
                    }
                }
            }
        }
    }
    .introduce_carousel {
        margin-top: $mg-1;
        .carousel-inner {
            .carousel-item {
                position: relative;
            }
        }
        .carousel-control-prev {
            .carousel-control-prev-icon {
                position: absolute;
                left: 0;
                background-color: $color-white-1;
                padding: $pd-3 + 15 $pd-1 + 2;
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007cc0' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
            }
        }
        .carousel-control-next {
            .carousel-control-next-icon {
                position: absolute;
                right: 0;
                background-color: $color-white-1;
                padding: $pd-3 + 15 $pd-1 + 2;
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23007cc0' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
            }   
        }
        .carousel-item {
            position: relative;
            .carousel-item_content {
                position: absolute;
                z-index: 999;
                left: 5%;
                top: 10%;
                p {
                    @include text($color-white-1, $fs-2, $fw-bold);
                    margin-bottom: $mg-4 + 20;
                }
                svg {
                    width: 100%;
                    display: block;
                    margin-bottom: $mg-2;
                }
                span {
                    @include text($color-white-1, $fs-1 + 2, $fw-normal);
                }
                .stat {
                    margin-top: $mg-2;
                    .stat_left_money, .stat_right_rating {
                        @include text($color-white-1, $fs-4, $fw-light);
                    }
                    .stat_left_label, .stat_right_label {
                        @include text($color-white-1, $fs-1, $fw-bold);
                    }
                }
                .btn-explore {
                    margin-top: $mg-2;
                    @include text($color-white-1, $fs-2, $fw-bold-1);
                    border-radius: 30px;
                    border: 2px solid $color-white-1;
                    background-color: $color-red;
                    padding: $pd-0 - 3 $pd-3;
                    transition: all 0.5s;
                    &:hover {
                        background-color: $color-white-1;
                        color: $color-red;
                    }
                }
                .btn-build {
                    margin-top: $mg-2;
                    @include text($color-red, $fs-2, $fw-bold-1);
                    background-color: $color-white-1;
                    border: 2px solid $color-red;
                    border-radius: 30px;
                    padding: $pd-0 - 3 $pd-3 + 13;
                    transition: all 0.5s;
                    &:hover {
                        color: $color-white-1;
                        background-color: $color-red;
                    }
                }
            }
        }
    }
}