.tool {
    margin-top: $mg-4;
    .tool_content {
        justify-content: space-around;
        
        .tool-item {
            background-color: #fff;
            img {
                width: 100px;
                height: 100px;
                margin-bottom: $mg-2;
            }
            p {
                @include text($color-blue-1, $fs-1 + 5, $fw-bold);
                margin-bottom: $mg-0;
            }
            span {
                display: block;
                @include text($color-blue-1, $fs-1 + 3, $fw-light);
                margin-bottom: $mg-3;
                padding-left: $pd-3;
                padding-right: $pd-3;
            }
            button {
                @include text($color-white-1, $fs-1 + 5, $fw-bold);
                background-color: $color-blue-1;
                border: 2px solid $color-blue-1;
                border-radius: 30px;
                padding: $pd-0 $pd-4 - 10;
                margin-bottom: $mg-2;
                &:hover {
                    background-color: transparent;
                    color: $color-blue-1;
                }
            }
        }
    }
}